body {
  background-color: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
}

.round_img {
  border-radius: 50%

}

#profile_pic {
  width: 120px;
  height: 120px;
  border: 3px solid #cccccc;
}

.round_corners {
  border-radius: 5px;
}

.width_images {
  max-width:50%;
  margin-right: 15%;
}


a {
    color: #B3B3B3;
    text-decoration: none;
    font-family: 'Open Sans 700', sans-serif;
}

a:hover {
    color: #446491;
    text-decoration: none;
    font-family: 'Open Sans 700', sans-serif;
}

h1 {
    color: #446491;
    font-size: 22px;
}

h2 {
    font-size: 18px;
    font-weight: 300;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

#wrapper {
    padding: 20px;
    width: 1000px;
    margin: 20px auto;
    border-radius: 2px;
    background: rgba(175, 175, 175, 0.1);
}

div {
  display: block;
}

.cards {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.cards:last-child {
  margin-bottom: 0px;
}

.text-center {
    text-align: center;
}

p, h3 {
    text-align: justify;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

.list-inline li i {
  font-size: 30px;
  line-height: 30px;
}

.clear {
  clear: both;
}

#left-container {
    width: 35%;
    float: left;
    min-height: 600px;
}

#right-container {
    width: 60%;
    float: right;
    min-height: 600px;
}

#right-container .cards {
    min-height: 533px;
}

.btn-blue {
    background-color: #446491;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
}

.btn-blue:hover {
    background-color: #2D4059;
    color: white;
}
